{% extends 'base.html' %}
{% block content %}
    <h1>{{ category.category }}</h1>
    <hr>
    <table> 
        <tr>
            <td></td>
            <td id="total">{{ "£%.2f"|format(total|float) }}</td>
            <td></td>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.merchant.name }}</td>
                <td>{{ "£%.2f"|format(transaction.amount|float) }}</td>
                <td>{{ transaction.date }}</td>
            </tr>
    {% endfor %}
    </table>
    
{% endblock content %}