body {
    font-family: 'Oswald', sans-serif;
}

.container {
    text-align: center;
}

.transaction-container {
    text-align: center;

}


table {
    width: 50%;
    margin: 0 auto;
}

table {
}

td {
    width: 33%;
}

#td-1, #td-3 {
    background-color: rgb(218, 218, 218);
}

#under-budget {
    color: green;
}

#over-budget {
    color: red;
}

