{% extends 'base.html' %}
{% block content %}
    <h1>New merchant</h1>
    <form action="/merchants" method="post">
        <div>
            <input type="text" name="merchant_name" placeholder="Merchant name" required autofocus>
        </div>
        <div>
            <select name="category_id" id="category-select">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.category }}</option> 
                {% endfor %}
            </select>
        </div> 
        <input type="submit">
    
    </form>
{% endblock content %}