{% extends 'base.html' %}
{% block content %}
<div class="navigation">
    <a href="/merchants"><i class="fa fa-chevron-left"></i></a>
</div>
    <h1>New merchant</h1>
    <form action="/merchants" method="post">
        <div>
            <input type="text" name="merchant_name" placeholder="Merchant name" required autofocus>
        </div>
        <div>
            <input type="text" name="logo" placeholder="Please enter URL for merchant logo">
        </div>
        <input type="submit">
    
    </form>
{% endblock content %}