{% extends 'base.html' %}
{% block content %}
    <h1>{{ merchant.name }}</h1>
    <hr>
    <table>
        <tr>
            <td>{{ "£%.2f"|format(total|float) }}</td>
        </tr>
            {% for transaction in transactions %}
            <tr>
                <td>£{{ transaction.amount }}</td> 
    
                <td>{{ transaction.date }}</td>

                <td><a href="/categories/{{transaction.category.id}}">{{transaction.category.category}}</a></td>
            </tr>
                {% endfor %}
        
</table>

{% endblock content %}