{% extends 'base.html' %}
{% block content %}
<div class="navigation">
    <a href="/merchants"><i class="fa fa-chevron-left"></i> Merchant list</a>
    <br>
    <a href="/transactions"><i class="fa fa-chevron-left"></i> Spending history</a>
</div>
    <h1>{{ merchant.name }}</h1> <a href="{{ merchant.id }}/edit">edit</a>
    <hr>
    <table>
        <tr>
            <td id="total">{{ "£%.2f"|format(total|float) }}</td>
        </tr>
            {% for transaction in transactions %}
            <tr>
                <td>{{ "£%.2f"|format(transaction.amount|float) }}</td> 
    
                <td>{{ transaction.date }}</td>

                <td><a href="/categories/{{transaction.category.id}}">{{transaction.category.category}}</a></td>
            </tr>
                {% endfor %}
        
</table>

{% endblock content %}