{% extends 'base.html' %}
{% block content %}
<h1>Spending history</h1>

    <div class="transaction-container">
        
            <table class="transaction-table">
                {% if budget.amount > total %}
                <h2 id="under-budget">You are £{{ "$%.2f"|format(budget.amount - total|float) }} within budget</h2> 
                {% else %}
                <h2 id="over-budget">You are £{{ "$%.2f"|format(total - budget.amount|float) }} over your budget</h2>
                {% endif %}
                
                <tr>
                    <td></td>
                    <td>£{{ total }}</td>
                </tr>
                {% for transaction in transactions %}
                <tr>
                        <td id="td-1">{{ transaction.merchant.name }}</a></td>
                        <td id="td-2">£{{ transaction.amount }}</td>
                        <td id="td-3">{{ transaction.date }}</td>
                <tr>
                    {% endfor %}
                
            </table>
            
        
        

    </div>
    
{% endblock content %}