{% extends 'base.html' %}
{% block content %}
<h1>Spending history</h1>
<div class="budget-bar">
    <div class="budget-fill" style="width:{{budget_percentage}}%"></div> 

</div>
    <div class="transaction-container">
        <div>
            <h2>Budget: {{ "£%.2f"|format(budget.amount|float)}}</h2>
        {% if budget.amount > total %}
                <h3 id="under-budget">You are {{ "£%.2f"|format(budget.amount - total|float) }} within budget</h2> 
                {% else %}
                <h3 id="over-budget">You are {{ "£%.2f"|format(total - budget.amount|float) }} over your budget</h2>
                {% endif %}
        </div>

        
        <table class="transaction-table">

            <tr>
                <td></td>
                <td id="total">{{ "£%.2f"|format(total|float) }}</td>
                <td></td>
                <td></td>
            </tr>
            {% for transaction in transactions %}
            <tr>
                    <td id="td-1"><a href="/merchants/{{ transaction.merchant.id }}">{{ transaction.merchant.name }}</a></td>
                    <td id="td-2">{{ "£%.2f"|format(transaction.amount|float) }}</td>
                    <td id="td-3"><a href="/categories/{{transaction.category.id}}">{{ transaction.category.category }}</a></td>
                    <td id="td-4">{{ transaction.date.strftime('%d-%m-%Y')}}</td>
                    <td id ="td-5">
                        <form class="delete-form" action="/transactions/{{transaction.id}}/delete" method="POST">
                            <button class="trash-button"><i class="fa fa-close fa-2x" style="color:red" aria-hidden="true"></i></button>
                        </form>
                    </td>
            <tr>
                {% endfor %}
                <td></td>
                <td><a href="transactions/new" class="plus"></a></td>
            
        </table>
            
        
        

    </div>
    
{% endblock content %}