{% extends 'base.html' %}
{% block content %}
<h1>Spending history</h1>

    <div class="transaction-container">
        
            <table class="transaction-table">
                <tr>
                    <td></td>
                    <td>{{ total }}</td>
                </tr>
                {% for transaction in transactions %}
                <tr>
                        <td id="td-1">{{ transaction.merchant.name }}</a></td>
                        <td id="td-2">£{{ transaction.amount }}</td>
                        <td id="td-3">{{ transaction.date }}</td>
                <tr>
                    {% endfor %}
                
            </table>
            
        
        

    </div>
    
{% endblock content %}