{% extends 'base.html' %}
{% block content %}
<h1>New transaction</h1>

<form class="new" action="/transactions" method="post">
    <div>
        <input type="text" id="merchant-input" name="merchant_name" placeholder="Merchant name" required autofocus>
        <datalist id="merchants">
            {% for merchant in merchants %}
                <option value="{{ merchant.id }}">{{ merchant.name }}</option>
            {% endfor %}
        </datalist>
            <select name="category_id" id="">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.category }}</option>    
                {% endfor %}
            </select>
    </div>  
    
    <div>
        <input type="float" id="amount-input" name="amount" placeholder="£" step=".01" required >
    </div>
    <div>
        <input type="date" id="date-input" name="date" placeholder="Date" required>
    </div>
    <div>
        <input type="submit">  
    </div>
</form>
{% endblock content %}