{% extends 'base.html' %}
{% block content %}
<h1>New transaction</h1>

<form class="new" action="/transactions" method="post">
    <div>
        <select name="merchant_id" id="merchant-input">
            {% for merchant in merchants %}
            <option value="{{ merchant.id }}">{{ merchant.name }}</option>
            {% endfor %}
        </select>
    </div>  
    <div>
        
        <input type="float" id="amount-input" name="amount" placeholder="£" step=".01" required >
    </div>
    <div>
        <input type="text" id="date-input" name="date" placeholder="Date" required>
    </div>
    <div>
        <input type="submit">  
    </div>
</form>
{% endblock content %}